.icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    border-radius: 5px;
    height: auto;
    transition: all .2s ease-in-out;
}

.icon:hover{
    transform: scale(1.1);
    border-radius: 0px;
}

@media (max-width: 500px){
    .icon {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 50px;
        border-radius: 5px;
        height: auto;
        transition: all .2s ease-in-out;
    }
    
    .icon:hover{
        transform: scale(1.1);
        border-radius: 0px;
    } 
}