.sidebar {
    width: 5rem; 
    background-color: #ffffff; 
    color: #5b5b5b; 
    padding: 20px;
    height: 100vh;
  }
  
  .sidebarHeader {
    font-size: 2rem; 
    margin-bottom: 20px;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebarItems {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
  }
  
.desktopSidebar{
    display: block;
}

.mobileSidebar{
    display: none;
}

@media (max-width: 600px){
    .desktopSidebar{
        display: none;
    }
    
    .mobileSidebar{
        display: block;
    }

    .mobileSidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        background-color: #ffffff;
        color: #5b5b5b;
      }
      
      .mobileContentSidebar {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .mobileSidebarItems {
        display: flex;
        justify-content: space-between;
      }
      
      .mobileButtonAbas{
        width: 250px;
      }
      
      .mobileDrawerContent{
        display: grid;
        gap: .4rem;
      }

      .mobileButtonDrawerContent{
        width: 250px;
      }
}