.containerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    overflow: auto;
}

.caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.tableHeader {
    background-color: #000000;
    color: #fff;
    font-family: bold;
    text-transform: uppercase;
    padding: 12px;
    
}

.allCheck {
    background-color: #000000;
}

.tableBody {
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.tableRow:nth-child(odd) {
    background-color: #f5f5f5;
}

.tableRow:hover {
    background-color: #e6e6e6;
}

.checkbox {
    margin-right: 5px;
    appearance: none;
    padding: 9px;
    margin-left: 1rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    border: solid 1px #d6d6d6;
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 10px;

}

.checkbox:checked {
    background-color: #0063da;
    border: solid 1px #0063da;

}

.checkbox:after {
    content: '\2713';
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: none;

}

.checkbox:checked:after {
    display: block;
}


.tableHeader,
.tableCell {
    padding: 12px;
    text-align: start;
    border-bottom: 1px solid #e0e0e0;
}

.tbody {
    background-color: #ffffff;

}

.tableContent {
    overflow: auto;

}


@media (max-width: 600px) {
    .tableHeader,
    .tableCell {
        padding: 5px; 
        text-align: center;
    }

    .checkbox {
        margin-left: 2px;
    }

    .tableHeader,
    .tableCell {
        padding: 5px; 
    }

    .tableBody {
        width: auto;
        overflow-x: auto;
        max-width: 100%;

    }

    .containerMain {
        margin: 0px;
        padding: 0px; 
        overflow-x: auto; 
    }
}
