.containerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 3px;
    overflow-x: auto;
    width: 50%;
}

.containerColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 3px;
    overflow-x: auto;
    width: 100%;
}

.caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.tableHeader {
    background-color: #000000;
    color: #fff;
    font-family: bold;
    padding: 3px;
    border-radius: 5px;
}

.allCheck {
    background-color: #000000;
    border-radius: 5px;
}

.tableBody {
    border-collapse: collapse;
    margin-top: 1rem;
    border-collapse: separate; 
    border-spacing: 5px;
    width: 100%;
}

.tableRow:nth-child(odd) {
    background-color: #e0e0e0;
}

.tableRow:hover{
    color: #0063da;
    cursor: pointer;
}

.checkbox {
    margin-right: 5px;
    appearance: none;
    padding: 9px;
    margin-left: 6px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    border: solid 1px #b4b4b4;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
}

.checkbox:checked {
    background-color: #000000;
    border: solid 1px #5f5f5f;
}

.checkbox:after {
    content: '\2713';
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: none;
}

.checkbox:checked:after {
    display: block;
}


.tableHeader,
.tableCell {
    padding: 12px;
    text-align: start;
}

.tbody {
    background-color: #ffffff;

}

.tableContent {
    overflow: auto;

}


@media (max-width: 600px) {
    .tableHeader,
    .tableCell {
        padding: 5px; 
        text-align: center;
    }

    .checkbox {
        margin-left: 2px;
    }

    .tableHeader,
    .tableCell {
        padding: 5px; 
    }

    .tableBody {
        width: auto;
        overflow-x: auto;
        max-width: 100%;

    }

    .containerMain {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        overflow-x: auto;
        width: 95%;
    }
}
