  
  .conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  

  .imagem-pequena {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 10%;
    overflow: hidden;
    width: 100px;
    height: 10 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .imagem-pequena img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:40%;
  }
  
      /* barra lateral */
      .button-container.hide {
        display: none;
      }
      
      .button-container {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-top: 20px;
      }
      
      .button {
        padding: 5px 5px;
        color: #000000;
        border: none;
        font-size: 30px;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      
      .modal-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      
      .modal {
        position: fixed;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        background: rgb(255, 255, 255);
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        box-sizing: border-box;
        padding-top: 5%;
        transition: transform 0.4s ease-in-out;
        transition: all 0.3s ease;
        transition: transform 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 4);
      }
      
      .modal.show {
        transform: translate(0, -50%);
      }
      
      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
      }
      
      .modal-title {
        font-size: 30px;
        margin: 0;
        
      }
      
      .modal-close {
        padding: 5px 10px;
        background-color: #ff0000;
        color: #ffffff;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-top: -50px;
      }

      .modal-close:hover{
        transform: scale(1.1);
      }
      
      .modal-body {
        flex: 1;
        display: flex;
        flex-direction: column;
       
      }
      
      .modal-button {
        background-color: #b9b9b9;
        color: #000000;
        border: none;
        display: inline-block;
        width: 190px;
        height: 40px;
        margin: 1px;
        font-size: 16px;
        transition: transform 0.3s ease;
        border-radius: 4px;
        
      }
  
      .modal-button:hover{
        transform: scale(1.1);
      }

      .button:hover{
      background-color: #000000;
      color: #fff;
      } 
