
.conteiner{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5% ;
}

.conteiner h1{
  margin-bottom: 5%;
}

.conteiner th{
  font-size: 20px;
}


.conteiner td{
  font-size: 15px;

}


/* nome */
.table1 {
  margin-top: 3%;
  width: 70%;
  margin-bottom: 1rem;
  border-collapse: separate;
  border-spacing: 5px; /* Define o espaço entre as células */
}

th, td {
  text-align: left;
  padding: .5rem;
}

th {
  background-color: #292929;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: 300;
}



#post {
  text-align: center;
}
/* background linha */
tr:nth-child(even) {
  background-color: #ededed; /* Cor cinza */
}

tr:nth-child(odd) {
  background-color: #ffffff; /* Cor branca */
}

.btn,btn-outline-primary{
  bottom: 20px;
  right: 20px;
  position: fixed;
}



.selectTable{
  font-size: 10px;
  align-self: center;
}


