@keyframes entrada {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.conteiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: entrada 1s ease;
}

.errors {
  background-color: rgba(255, 134, 134, 0.414);
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  animation: entrada 1s ease;
}

h1 {
  margin-bottom: 5%;
  color: #000000;
  animation: entrada 1s ease;
}

form {
  margin: 13% auto;
  max-width: 17%;
  width: 100%;
  padding: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(65, 65, 65, 0.37);
  color: #000000;
  position: fixed;
  animation: entrada 1s ease;
}


label {
  display: block;
  margin-bottom: 10%x;
  font-size: 20px;
  border-radius: 10px;
}

.inputlogin,
select {
  width: 100%;
  padding: 3%;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #bdbdbd;
}

.btn {
  display: inline-block;
  padding: 4px 20px;
  font-size: 15px;
  color: #fff;
  background-color: black;
  border-radius: 10px;
  border: none;
  transition: transform 0.3s ease;
  
}

.btn:hover {
  transform: scale(1.1);
}

.imagem {
  display: flex;
  width: 20%;
  margin-left:39%;
  margin-top: 3%;
  position: fixed;
  animation: entrada 1s ease;
  
}

.imagem img {
  max-width: 20%;
  height: auto;
}
  
.imagem-pequena {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 10%;
  overflow: hidden;
  width: 100px;
  height: 10 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.imagem-pequena img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lnr-eye {
  position: absolute;
  top: 63%;
  right: 17%;
  transform: translateY(-50%);
  cursor: pointer;
  }
