/* Estilos para o Select2 */
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  width: 100%;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.select2-dropdown {
  display: block;
  visibility: hidden;
}

.select2-container--open .select2-dropdown {
  opacity: 1;
  visibility: visible;

}

.select2-results {
  
  width: 100%;
}

.select2-results__option {
  display: block;
  margin-top: 10px;
  color: #000000;
}

.select2-search--dropdown .select2-search__field {
  padding: 6px;
  width: 130%;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #ffffff;
  line-height: 30px;
}

.select2-results__options {
  background-color: rgb(255, 255, 255);
}
