.container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 5%;
  display: fixed;
  flex-direction: column;
  width: 70%;
  max-height: 300px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.sidebar.collapsed {
  width: 50px; /* Ou o valor que você deseja */
  overflow: hidden; /* Para garantir que nenhum conteúdo exceda o limite da sidebar */
}


#form {
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  max-height: 300px;
  min-height: 300px;
}

#form th{
  background-color: #2a2a2a;
}

.create-field td {
  margin: 0  auto;
  text-align: center;
}

.input-fild{
  margin: 0 auto;
  width: 70%;
}


.select1{
  width: 70%;
  margin: 0 auto;
}

.form-check-input{
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-top: 6px;
  
}


/* bar */
.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
  animation: slide-in 0.5s ease;
  transition: width 0.5s; 
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.sidebar .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  z-index: 10;
  
}


.sidebar h1 {
  text-align: center;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sidebar .modal-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  transition: transform 0.3s ease;
  background: none;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.sidebar .modal-button:after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.sidebar .modal-button:last-child:after {
  display: none;
}

.sidebar .modal-body>*:not(h3) {
  margin-left: 0;
}

.sidebar .toggle-button:hover {
 color:	#4179d2;

}

.toggle-button {
  width: 100%;
  padding: 1px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  background: none;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  transition: transform 0.2s ease-in-out;
  margin: 5px;
}

.sidebar.collapsed {
  width: 80px; 
  overflow-x: hidden;
}

.sidebar.collapsed .toggle-button {
  padding-right: 0;
  justify-content: center;
}

.sidebar.collapsed .toggle-button i {
  margin-right: 5%; 
}


#sidebar-title.hidden {
  visibility: hidden;
}

.toggle-button i.icon-hidden {
  visibility: hidden;
}

.deletPreset{
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deletPreset:hover {
  background-color: #fc4848;
}

.criarnovatabela {
  width: 60px;
  height: 49px;
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}

/* tabela */


.container {
  margin-top: 5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 700px;
  /* Altura máxima para a rolagem vertical */
}

.table-container table {
  width: 100%;
  margin-bottom: 0;
  color: #000000;
  padding: 3px;
  border-collapse: separate;
  border-spacing: 3px;

}


.table-container th {
  text-align: center;
  font-size: 15px;
  padding: .5rem;
  border-radius: 5px;
}

.table-container td {
  text-align: center;
  font-size: 15px;
  padding: .5rem;
}

/* nome do cabeçalho */
.table-container th {
  background-color: #292929;
  color: #ffffff;
  margin: 1px;
  position: sticky;
  top: 0;
  font-weight: 300;
}

/* linhas ímpares */
.table-container tr:nth-child(odd) {
  background-color: #e3e3e3;
}

/* linhas pares */
.table-container tr:nth-child(even) {
  background-color: #ffffff;
}


td {
  cursor: pointer;
}

th {
  background-color: #292929;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: 300;
}


#formPreset {
  width: 30%; 
  
}

.editPreset{
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.popupConfirmation{
  position: fixed;
  margin-top: 70px;
  z-index: 1;
}


.border{
  background-color: #ffffff;
  width: 1000px;
  height: 30px;
  border-radius: 10px;
  margin-top: -30px;
}

.popupConfirmation {
  position: absolute;
  top: 1px;
  right: 10px;
  background-color: #f0f0f0;
  width: 15%;
}

.popreset{
  background-color: #ffffff;
}

.lixeira{
  margin-top: 5px;
  width: 50px;
  align-items: start;
  display: flex;
  background-color: #fff;

}

.scroll{
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-item{
  border: solid 3px;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  display: inline;
  padding: 10px;
  width: 230px;
  max-width: 230px;
}
 
.action-bar{
  z-index: 2000000000000000000;
} 

/* .space{
  margin: 10px;
} */