.container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.imagem-pequena {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 10%;
  overflow: hidden;
  width: 100px;
  height: 10 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.imagem-pequena img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.options-window {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.user-icon:hover .options-window {
  display: block;
  opacity: 1;

}

.options {
  display: flex;
  flex-direction: column;
}

.options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.options a:hover {
  background-color: #ddd;
}


li a {
  /* Restante das propriedades CSS */
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4469aa;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

li a:hover {
  color: #4469aa;
}

li a:hover:before {
  transform: scaleX(1);
}


li {
  /* Restante das propriedades CSS */
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.container {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 300px;

}

.table-container {
  overflow-x: auto;
  /* Adiciona rolagem horizontal quando necessário */
  max-width: 100%;

  border-spacing: 20px; /* Define o espaço entre as células */
}

/* Form preset */

#form {
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #d7d7d7;
  border-radius: 0 0 10px 10px;
  overflow-y: scroll;
  max-height: 200px;
  min-height: 300px;
}

#form select {
  margin-right: 300px;
  font-family: 'sfpro';
  margin-left: -50px;

}

.container #form input {
  margin-top: 1px;
  font-size: 20px;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: px;
  width: 100%;
  border: none;
  height: auto;
  text-align: left;
  margin-left: 8%;
}

.create-field {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 102px;
  margin-bottom: -50px;
}

.btn-delete {
  border-radius: 9px;
  outline: none;
  padding: 10px;
  cursor: pointer;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  font-size: 10px;
  transition: background-color 0.3s;
  width: 40px;
  height: 40px;
  margin-top: 25px;
  margin-bottom: -5%;
  margin-left: 21%;
}


.btn-delete:hover {
  background-color: #fc4848;
} 



/* Media queries para telas menores */
@media (max-width: 1681px)  {

  
  .btn-delete {
    border-radius: 9px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    font-size: 10px;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 12%;
  }
  
  
  .btn-delete:hover {
    background-color: #fc4848;
  } 
  

}


@media (max-width: 1514px){
  

  .btn-delete {
    border-radius: 9px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    font-size: 10px;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 3%;
  }
  
  
  .btn-delete:hover {
    background-color: #fc4848;
  } 
  

}



@media (max-width: 1382px){
  
  .btn-delete {
    border-radius: 9px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    font-size: 10px;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: -5% 
  }
  
  
  .btn-delete:hover {
    background-color: #fc4848;
  } 
  

}


@media (max-width: 1708px){
  
 
  .btn-delete {
    border-radius: 9px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    font-size: 10px;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left:3%;
  }
  
  
  .btn-delete:hover {
    background-color: #fc4848;
  } 
  
}


@media (max-width: 1710px){
 
  
  .btn-delete {
    border-radius: 9px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    font-size: 10px;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 13%;
  }
  
  
  .btn-delete:hover {
    background-color: #fc4848;
  } 

  @media (max-width: 1504px){
  
  
    .btn-delete {
      border-radius: 9px;
      outline: none;
      padding: 10px;
      cursor: pointer;
      background-color: #ff0000;
      color: #ffffff;
      border: none;
      font-size: 10px;
      transition: background-color 0.3s;
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-left: 3%;
    }
    
    
    .btn-delete:hover {
      background-color: #fc4848;
    } 
    
  }
  
}

@media (max-width: 1254px){
  
  
  .btn-delete {
    border-radius: 9px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    font-size: 10px;
    transition: background-color 0.3s;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: -15%;
  }
  
  
  .btn-delete:hover {
    background-color: #fc4848;
  } 
  
}



/* bar */
.sidebar {

  width: 200px;
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
  animation: slide-in 0.5s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.sidebar .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.sidebar h1 {
  text-align: center;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sidebar .modal-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  transition: transform 0.3s ease;
  background: none;
  text-align: left;
  position: relative;
  /* Adiciona posição relativa aos botões */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;

}

.sidebar .modal-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
  /* Define a cor da linha */
}

.sidebar .modal-button:last-child:after {
  display: none;
  /* Remove a linha do último botão */
}

.sidebar .modal-body>*:not(h3) {
  margin-left: 0;
}

.sidebar .modal-button:hover {
  transform: scale(1.1);
}

.deletPreset{
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deletPreset:hover {
  background-color: #fc4848;
}

.criarnovatabela {
  width: 60px;
  height: 49px;
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}




/* tabela */


.container {
  margin-top: 5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 700px;
  /* Altura máxima para a rolagem vertical */
}

.table-container table {
  width: 100%;
  margin-bottom: 0;
  color: #000000;
  padding: 3px;
  border-collapse: separate;
  border-spacing: 3px;
}

.table-container th:hover {
  transform: none; /* Remova a transformação no hover */
}

.table-container th {
  text-align: center;
  font-size: 15px;
  padding: .5rem;
  border-radius: 5px;
}

.table-container td {
  text-align: center;
  font-size: 15px;
  padding: .5rem;
}

/* nome do cabeçalho */
.table-container th {
  background-color: #292929;
  color: #ffffff;
  margin: 1px;
  position: sticky;
  top: 0;
  font-weight: 300;
}

/* linhas ímpares */
.table-container tr:nth-child(odd) {
  background-color: #e3e3e3;
}

/* linhas pares */
.table-container tr:nth-child(even) {
  background-color: #ffffff;
}


td {
  cursor: pointer;
}

th {
  background-color: #292929;
  color: #f7f7f7;
  border-radius: 5px;
  font-weight: 300;
}




#formPreset {
  width: 30%; 
  margin: 0 auto;
  margin-top: 100px; 
}


.editPreset{
  background-color: #ff9d00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editPreset:hover{
  background-color: #ff9d0098
}

.popupConfirmation{
  position: fixed;
  margin-top: 70px;
  z-index: 1;
}


.border{
  background-color: #ffffff;
  width: 1000px;
  height: 30px;
  border-radius: 10px;
  margin-top: -30px;
}

.popupConfirmation {
  position: absolute;
  top: 1px; /* Ajuste a distância desejada a partir do topo */
  right: 10px; /* Ajuste a distância desejada a partir da direita */
  background-color: #f0f0f0;
  width: 15%;
}



