body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  margin-top: 3%;
  align-items: center;
  flex-direction: column;
}

.container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

  #selected {
    color: #f7f7f7;

  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Animação para fechar a barra lateral */
  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  
  /* sidebar aberta */
  .sidebar {
    width: 200px;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0; 
    left: -200px; 
    overflow-x: hidden;
    padding-top: 30px;
    animation: slide-in 0.5s ease;
  }
  
  /* sidebar fechada */
  .sidebar.closed {
    width: 200px;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    overflow-x: hidden;
    padding-top: 30px;
    animation: slide-out 0.5s ease;
  }
  
  /* sidebar */
  .sidebar {
    width: 200px;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    animation: slide-in 0.5s ease;
  }

  .sidebar .modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .sidebar h3 {
    text-align: center;
    margin-bottom: 10px;
    
  }

  .sidebar .modal-button{
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    color: #333333;
    transition: transform 0.3s ease;
    background: none;
    display: flex;

  }

  #sidebarContent{
    margin-left: 20px;
  }

  .sidebar .modal-button:after {
    content: "";
    bottom: 0;
    width: 75%;
    background-color: #e9e9e9;
    transform: translateX(0);
  }

  .sidebar .modal-body>*:not(h3) {
    margin-left: 0;
  }

  .sidebar .modal-button:hover {
    color: #4179d2;
  }

  .sidebar.closed {
    transform: translateX(-100%);
    transition: transform 0.5s ease; 
  }


  #form {
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #dee2e6; 
    border-radius: 10px; 
    padding: 5%;

}
  
  #form input[type="text"],
  #form input[type="number"],
  #form textarea,
  #form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
  }
  
  #form input[type="text"]:focus,
  #form input[type="number"]:focus,
  #form textarea:focus,
  #form input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .dangerbtn {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 65px;
  }
  

  .linha {
    display: flex;
    flex-direction: column;
  }

  .fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  
  .containerInputLabel{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
  }



  /* nome */
  .table {
    margin-top: 3%;
    width: 70%;
    margin-bottom: 1rem;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 10px;
  }

  
  th,
  td {
    text-align: left;
    padding: .5rem;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  th {
    background-color: #292929;
    color: #f7f7f7;
    border-radius: 5px;
    font-weight: 300;
  }
  
  /* Aplicar cores alternadas às linhas da tabela */
  tr:nth-child(even) {
    background-color: #ffffff; /* Cor da linha para índices pares */

  }
  
  tr:nth-child(odd) {
    background-color: #f2f2f2; /* Cor da linha para índices ímpares */

  }
  
  tr {
    transition: transform 0.3s;
  }
  
 
  tr:hover td {
    transition: color 0.1s ease-in-out;
    color: #4179d2;
  }


  #post {
    text-align: center;
  }


  .Cont-btn {
    margin-top: 5%;
  }

  .selectTable {
    font-size: 10px;
    align-self: center;
  }

  .btn-cad{
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 4px;
    margin-top: 20px;
  }


  .border{
    width: 1000px;
    height: 30px;
    justify-content: center;
    border-radius: 10px;
  }

  .border-filter{
    width: 1000px;
    height: 10px;
    justify-content: start;
    border-radius: 10px;
  }

.filter{
  width: 70%;
}

.filter-select{
  width: 30%;
}
 .form-check-input{
  height: 20px;
  width: 20px;
 }

 .custom-select {
  position: relative;
}

.custom-select:after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.pop{
  border-radius: 20px;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: 1px solid #0a6ffb;
  color: #0a6ffb;
  background: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0a6ffb;
  color: #ffffff;
}


#uploadForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 3em;
  font-size: 24px;
  border-radius: 10px;
  padding: 2em;
  width: 90%;
  margin: 0 auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  color: #198754;
  padding: 6px 16px;
  font-size: 16px;
  border: 1px solid #198754;
  border-radius: 7px;
  cursor: pointer;
  transition: color, background 0.1s ease-in-out;
}

.dropdown-toggle:hover {
  background-color: #198754;
  color: white;
}

.dropdown-gaveta {
  display: none;
  position: absolute;
  min-width: 100px;
  max-width: 100px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-gaveta a {
  padding: 8px 16px; /* Espaçamento para cada item */
  text-decoration: none;
  display: block;
  text-align: center; /* Alinhamento do texto */
}


.dropdown:hover .dropdown-gaveta {
  display: block;
}

.btn-gray{
  border: 1px solid #292929;
  color: #333333;
}

.btn-gray:hover{
  border: 1px solid #292929;
  color: #333333;
  background: none;
}

.icone-tam{
  font-size: 100px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.icone-tam:hover{
  color: #007bff;
}

.predefinicao-title{
  margin-top: 90px;
}

.container-mobile-title{
  display: none;
}

.form{
  display: block;
}

#some{
  display: block !important;
}

@media (max-width: 768px) {
  .sidebar {
    width: 150px;
    z-index: 1;
  }

  .sidebar.closed {
    width: 150px;
    z-index: 1;
  }

  .sidebar .modal-button{
    z-index: 1000000000;

  }

  .tabela-container{
  width: 100%; /* Ajusta-se à largura da tela ou ao elemento pai */
  max-width: 110%; /* Largura máxima do contêiner */
  max-height: 350px; /* Altura máxima do contêiner */
  overflow-x: auto; /* Ativa rolagem horizontal */
  overflow-y: auto; /* Ativa rolagem vertical quando necessário */
  -webkit-overflow-scrolling: touch; 
  margin: 3 auto;
  }
  
  .table {
    width: 100%;
    border-spacing: 0px;
    border-radius: 0;
  }

  .border{
    width: 500px;
    margin: 0 auto;
  }

  .border-filter{
    width: 1000px;
    height: 10px;
    justify-content: start;
    border-radius: 10px;
  }

.filter{
  width: 50%;
}

.filter-select{
  width: 50%;
}

#headerTable{
  width: 20%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.titulopreset{
  font-size: 10px;
  display: flex;
}

.container-mobile-title{
  display: block;
}
.titulopreset{
  display: none;
}

.titlemobile{
  margin: 0 auto;
  font-family: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#some{
  display: none !important;
}
}