.container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Animação para fechar a barra lateral */
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* sidebar */
  /* sidebar aberta */
  .sidebar {
    width: 200px;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0; 
    left: -200px; 
    overflow-x: hidden;
    padding-top: 30px;
    animation: slide-in 0.5s ease;
  }
  
  /* sidebar fechada */
  .sidebar.closed {
    width: 200px;
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0; 
    overflow-x: hidden;
    padding-top: 30px;
    animation: slide-out 0.5s ease;
  }
  
  /* sidebar */
  .sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    animation: slide-in 0.5s ease;
  }

  .sidebar .modal-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .sidebar h3 {
    text-align: center;
    margin-bottom: 10px;
    
  }

  .sidebar .toggle-button{
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    transition: transform 0.3s ease;
    background: none;
    position: relative;
    display: flex;
    margin-left: 15px;

  }

  #sidebarContent{
    margin-left: 20px;
  }

  .sidebar .toggle-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 1px;
    background-color: #e9e9e9;
    transform: translateX(0);
    transition: transform 0.5s ease;
  }

  .sidebar .toggle-button:last-child:after {
    display: none;
    /* Remove a linha do último botão */
  }

  .sidebar .modal-body>*:not(h3) {
    margin-left: 0;
  }

  .sidebar .toggle-button:hover {
    transform: scale(1.05);
    color: #4179d2;
  }

  .sidebar.closed {
    transform: translateX(-100%);
    transition: transform 0.5s ease; 
  }


 
/*dashboard*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

#charts{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction:row;
  align-items:flex-start;
  border-radius: 5%;
  margin-top: 9%;
  }
  

  #chart{
  width: 100%;
  height: 100%;

  }

.containerCenter{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formHeader{
  display: none;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
}

.cardDash {
  flex:content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border-radius: 5px;
  padding: 30px;
}

.cardDash h1{
  flex:content;
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50%;
}

.configContent{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
}

.border{
  width: 1000px;
  height: 30px;
  border-radius: 10px;
  
  
}

.martop{
  margin-top: 10%;
}



.containerCreateKpi, .containerCreateChart{
  display: none;
  flex-direction: column;
  height: auto;
}

.contDashboards{
  display: flex;
  flex-wrap: wrap;
}

#contField01 ,#contField02{
  display: none;
}

#formCreateDash{
  border-radius: 10px;
  margin: 0;
}

