.container-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
  animation: slide-in 0.5s ease;
  transition: width 0.5s; 
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.sidebar .modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  z-index: 10;
  
}

.sidebar h1 {
  text-align: center;
  margin-left: 10%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sidebar .modal-button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  transition: transform 0.3s ease;
  background: none;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  transition: transform 0.2s ease-in-out;
}

.sidebar .modal-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;

}

.sidebar .modal-button:last-child:after {
  display: none;
}

.sidebar .modal-body>*:not(h3) {
  margin-left: 0;
}

.sidebar .toggle-button:hover {
  transform: scale(1.1);

}

.toggle-button {
  width: 100%;
  padding: 1px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #333333;
  background: none;
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  transition: transform 0.2s ease-in-out;
}

.sidebar.collapsed {
  width: 80px; 
  overflow-x: hidden;
}

.sidebar.collapsed .toggle-button {
  padding-right: 0;
  justify-content: center;
}

.sidebar.collapsed .toggle-button i {
  margin-right: 5%; 
}


#sidebar-title.hidden {
  visibility: hidden;
 

}

.toggle-button i.icon-hidden {
  visibility: hidden;
}

/*dashboard*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

#charts{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction:row;
  align-items:flex-start;
  border-radius: 5%;
  margin-top: 9%;
  }
  

  #chart{
  width: 100%;
  height: 100%;

  }

.containerCenter{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
}

.cardDash {
  flex:content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border-radius: 5px;
  padding: 30px;
 
}


.configContent{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
}

.border{
  width: 1000px;
  height: 30px;
  border-radius: 10px;
  
}

.martop{
  margin-top: 10%;
}
.rect{
  fill: black;
}


.containerCreateKpi, .containerCreateChart{
  display: none;
  flex-direction: column;
  height: auto;
}

.contDashboards{
  display: flex;
  flex-wrap: wrap;
}

#contField01 ,#contField02{
  display: none;
}

#formCreateDash{
  border-radius: 10px;
  margin: 0;
}

