    
  body{
    background-color:#f4f4f4;
  
    }
  
    ::selection {
      background-color:#b8dcff;
  
    }
    
    :root {
      scroll-behavior: smooth;
    }
  
    nav {
      background-color:	#4179d2;
    

    }
    
    #navbar a {
        color: #1f1d1d; 
 
    }
    
    #select{
      color: #f7f7f7;
    
    }

    .sidebar {
      background-color: #2c2c2c;
     
   
    }
    .toggle-button {
      color: #adb5bd;
      transition: transform 0.2s ease-in-out;
     
    }

   .border{
    background-color: #2c2c2c;
    border: 1px solid #495057;
   
   }

   #form {
    background-color: #2c2c2c;
    border: 1px solid #495057; 
   
   }
  
   #FormPreset{
    background-color: #2c2c2c;
    border: 1px solid #495057; 
  
   }

   .popreset{
    background-color: #2c2c2c;

    border: 1px solid #495057; 
   }

   #form input[type="text"],
   #form input[type="number"],
   #form textarea,
   #form input[type="date"] {
    border: 1px solid #495057; 
   }
   
   tr:nth-child(even) {
    background-color: #515151;
    color: #ffffff;

  }
  
  tr:nth-child(odd) {
    background-color: #515151;
    color: #ffffff;

  }

  td:nth-child(even) {
    background-color: #515151;
    color: #ffffff;

  }
  
  td:nth-child(odd) {
    background-color: #515151;
    color: #ffffff;

  }

  .sidebar .modal-button {
    color: #adb5bd;
  }

  .btn-outline-dark{
    background-color: #515151;
  }

  .popupConfirmation {
    background-color: #ffffff;
    border: 1px solid #adadad; 
  }

  .sidebar.closed {
    background-color:  #b8b4b4;
  }

  .dark-mode {
    background-color: #333; 
    color: #fff; 
  }