    
  body{
    background-color:#efeaea;
    transition: all 0.2s ease-in-out;
  
    }
  
    ::selection {
      background-color:#b8dcff;
  
    }
    
    :root {
      scroll-behavior: smooth;
    }
  
    nav {
      background-color:	#4179d2;
      transition: all 0.2s ease-in-out;
  
    }

    #select{
      color: white;
    }

    nav a{
      color: #161616;
    }

    #navbar a:hover{
      color: #ffffff;
    }


    li a:before {
      background-color: #ffffff;
      transition: transform 0.3s;
    }
    
    li a:hover {
      color: #ffffff;
    }
    

    .sidebar {
      background-color: #ffffff;
     
   
    }
    .toggle-button {
      color: #424242;
      transition: transform 0.2s ease-in-out;
     
    }

   .border{
    background-color: #ffffff;
    border: 1px solid #495057;
   
   }

   #form {
    background-color: #ffffff;
    border: 1px solid #e0e3e7; 
   
   }
  
   #FormPreset{
    background-color: #ffffff;
    border: 1px solid #e0e3e7; 
  
   }

   .popreset{
    background-color: #ffffff;
    border: 1px solid #e0e3e7; 
   }

   #form input[type="text"],
   #form input[type="number"],
   #form textarea,
   #form input[type="date"] {
    border: 1px solid #e0e3e7; 
   }
   

  .sidebar .modal-button {
    color: #2b2b2b;
  }

  .btn-outline-dark{
    background-color: #e0e3e7;
  }

  .popupConfirmation {
    background-color: #ffffff;
    border: 1px solid #e0e3e7; 
  }

 
  .dark-mode {
    background-color: #333; 
    color: #fff; 
  }

  .table-container tr {
    color: #000; 
    transition: color 0.1s ease;
  }
  
  .table-container tr:hover {
    color: #3943d0;
  }
  
  .cardDash{
    width: 500px;
    background-color: #ffffff00;
    border: 2px solid #dee2e6;
   
  }

  #formCreateDash{
    background-color: #ffffff;
    border: 2px solid #dee2e6;
  }


  .form1{
    background-color: #ffffff;
    border: 2px solid #dee2e6;
  }

  /* Personalize a barra de rolagem */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Personalize o trilho da barra de rolagem (fundo) */
::-webkit-scrollbar-track {
  background-color: #ffffff; /* Cor de fundo do trilho */
}

/* Personalize o polegar da barra de rolagem (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: #d6d6d6; /* Cor do polegar */
  border-radius: 10px; /* Canto arredondado do polegar */
  transition: background-color 1s;
}

/* Estilize o polegar da barra de rolagem quando estiver sendo hover (passar o mouse por cima) */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Cor do polegar em hover */
}

.beta{
  color: rgb(255, 255, 255);
  border: solid 2px rgb(208, 99, 99);
  border-radius: 4px;
  background-color: rgb(196, 58, 58);
  padding: 2px;
}

.lixeira{
  background-color: #fff;
  border: 2px solid #dee2e6;
}

.lixeira:hover{
  background-color: #fff;
  border: 2px solid #4179d2;
  color: #4179d2;
}

.dropdown-item{
  background-color: #ffffff;
  border: 2px solid #dee2e6;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  display: inline;
  padding: 10px;
  width: 230px;
  max-width: 230px;
}

.dropdown-item:hover{
  border: 2px solid #dee2e6;
  background-color: #ebebeb;

}


.oi{
  color: #000000;
  font-family: 'sfpro';
  
}

.checkboxform-align{
  margin-top: 0;
  vertical-align: middle;
}

.formcaduser{
  border: 2px solid #dee2e6;
  background-color: #ebebeb;
 }

 #uploadForm{
  border: 1px solid #dee2e6;
  background-color: #ffffff;
 }