*{
  margin: 0;
  padding: 0;
}


.loading {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.106); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2; 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 

}

  

@font-face {

    font-family: sfpro;
    src: url("/fonte/SF-Pro-Display-Medium.otf");
  }

  /* Estilos específicos para dispositivos móveis */
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  /* Estilos específicos para tablets */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
      font-size: 22px;
    }

    p {
      font-size: 15px;
    }
  }

  /* Estilos específicos para desktops */
  @media screen and (min-width: 769px) {
    h1 {
      font-size: 26px;
    }

    p {
      font-size: 18px;
    }
  }

  
body{
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'sfpro';
    overflow-x: hidden;
    }

  :root {
    scroll-behavior: smooth;
  }


  .navbar-toggler{
    margin-right: 10px;
  }

.user-icon {
  position: fixed;
  right: 3%;
  align-items: center;
}

#logo {
  left: 3%;
  top: 4px;
  margin-top: 13px;
  position: fixed;
}

logo img {
  width: 100px;
} 

.navbar-nav {
  display: flex;
  justify-content: center;
  padding: 4px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-right: 100px; 
}

a.nav-link:hover{
  color: #4179d2;
}

.nav-item:last-child {
  margin-right: 0;
}


.msg{
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form1{
  background-color: #ffffff;
  border-radius: 10px;
}

@media screen and (max-width: 990px) {
  .user-icon {
    position: flex;
    right: 10%;
    top: 9%;
    display: flex;
    justify-content: center;
  }

  .nav-item {
    display: flex;
    align-items: center;
    margin-left: 30px;
    
  }
  
}