*{
  margin: 0;
  padding: 0;
}


.loading {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 53, 53, 0.106); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2; 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 

}

  

@font-face {


    font-family: sfpro;
    src: url("/fonte/SF-Pro-Display-Medium.otf");
  }

  /* Estilos específicos para dispositivos móveis */
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }

  /* Estilos específicos para tablets */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
      font-size: 22px;
    }

    p {
      font-size: 15px;
    }
  }

  /* Estilos específicos para desktops */
  @media screen and (min-width: 769px) {
    h1 {
      font-size: 26px;
    }

    p {
      font-size: 18px;
    }
  }

  
body{
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'sfpro';
    overflow-x: hidden;
    }

  
  
  :root {
    scroll-behavior: smooth;
  }

  nav {
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 64px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  li:last-child {
    margin-right: 0;
  }
  
  li a {
    display: block;
 
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: "sfpro";
  }
  
  .user-icon {
    position: fixed;
    top: 1px;
    right: 3%;
    align-items: center;
  }
  
 
li a {
  position: relative;
  overflow: hidden;
  transition: color 0.3s;
}

li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

li a:hover {
  color: #ffffff;
}

li a:hover:before {
  transform: scaleX(1);
}


li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}


#logo {
  display: block;
  position: fixed;
  top: 26.2%;
  left: 3%;
}

#logo img {
  width: 100px;
  
}

.msg{
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form1{
  background-color: #ffffff;
  border-radius: 10px;
}

